@import "../_variables.scss";

.post {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    margin-bottom: 2em;
    
    // div {
    //     border-bottom: 1px solid $light-gray;
    // }    
    
    // div {
    //     color: $white;
    //     background: $brand-purple;
    // }
    
    // div {
    //     padding: $table-padding;
    // }

    .selected-row {
        background-color: $selected-row;
    }
}